
.Light {
    --theme-color: #FFF;
    --theme-color-darker: #E9E9E9;
    --theme-text-color: #212121;
    --theme-success-color: #008000;
    --theme-messages-color: #c1e3ff;
}
.Dark {
    --theme-color: #1E2A43;
    --theme-color-darker: #19243B;
    --theme-text-color: #FFF;
    --theme-success-color: #008000;
    --theme-messages-color: #0087fb;
}